* {
   font-family: Arial;
}

div#header {
	display: flex;
	flex-direction: row;
	color: darkslategray;
	background-color: wheat;
	border-style: solid;
	border-width: 2px;
    border-radius: 10px;
    padding-left: 3vw;
}

ul.header {
	display: flex;
	flex-direction: row;
}

button {
	color: mintcream;
	background-color: darkslategrey;
	border-radius: 5px;
}

#sign-up {
	color: darkslategrey;
	background-color: mintcream;
	border-radius: 5px;
	margin-right: 1vw;
}

input {
    margin-right: 1vw
}


div.inside-box {
	text-align: center;
	vertical-align: top;
}

div#search-container {
	text-align: center;
}

#box-container {
	display: flex;
	flex-direction: row;
}

.box {
	color: darkslategrey;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px darkgrey;
	width: 20vw;
	height: 25vh;
	margin: 3vw;
	background-color: wheat;
}

ul.item-ul {
	padding-left: 0;
	justify-content: center;
}

h1 {
    margin-top: 5px;
    margin-bottom: -15px;
}

h2 {
	color: darkslategrey;
	border-radius: 5px;
}

h4 {
	color: darkslategrey;
	border-radius: 5px;
}

.results-li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	padding: 1%;
	color: darkslategrey;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	margin: 1%;
	background-color: wheat;
}

div.food-item {
    padding-right: 2vw;
}

#results-div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.branded-results-div {
	flex-basis: 80%;
	margin: 2%;
}

.add-delete-button {
	margin-left: 1vw;
	margin-right: 1vw;
}

.cal-div {
	display: flex;
	flex-direction: row;
	margin-left: auto;
}

#calorie-count-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#calorie-count {
	margin-left: 10px;
}

.food-li-div {
	display: flex;
	flex-direction: row;
}